<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReconhecimentoZonabehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>

        </behavior>

      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="REST">
          <webHttp/>

        </behavior>

      </endpointBehaviors>

    </behaviors>
    <services>
      <service behaviorConfiguration="ReconhecimentoZonabehavior" name="ReconhecimentoZona">
        <endpoint address="" binding="webHttpBinding" contract="IReconhecimentoZona" behaviorConfiguration="REST">
          <identity>
            <dns value="localhost"/>

          </identity>

        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

      </service>

    </services>

  </system.serviceModel>
</configuration>